
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116906459-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116906459-1');
</script>

<div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="../rent">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="rents">Rents<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Rent car</h3>
    </div>

    <div class="jumbotron">
      <h1 class="display-3">Choose your dream car</h1>
      <p class="lead">Only with us for a small amount of money you can rent a car</p>
    </div>

    <div>
      {% for offer in offers %}
        <div class="card" style="width: 100%; justify-content: center">
          <div class="card-body">
            <h5 class="card-title">{{offer.car.brand}} {{offer.car.name}}</h5>
            <div class="d-flex">
              <img src="{{offer.car.photo.url}}"height="15%" style="margin-right:8%"/>
              <div>
                <p>Production: {{offer.car.productionYear}} </p>
                <p>Course: {{offer.car.course}} </p>
                <p>Engine capacity: {{offer.car.engineCapacity}} </p>
                <p>Power (HP): {{offer.car.power}} </p>
                <p>Color: {{offer.car.color}} </p>
                
                <p class="card-text">{{offer.car.description}}</p>
              </div>
            </div>
            {% if offer.available %}
              <a href="{% url 'details' offer.offerUUID %}" class="btn btn-success">Details</a>
            {% else %}
              <a href="{% url 'details' offer.offerUUID %}" class="btn btn-danger">Details</a>
            {% endif %}
          </div>
          </div>
      {% endfor %}
    </div>

    <footer class="footer">
      <p>&copy; Company 2017</p>
    </footer>

  </div>