
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="../rent">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="rents">Rents<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Rent car</h3>
    </div>

    <div class="jumbotron">
      <h1 class="display-3">Choose your dream car</h1>
      <p class="lead">Only with us for a small amount of money you can rent a car</p>
    </div>

    <div class="d-flex justify-content-center">
      {% for offer in offers %}
      <div class="card" style="width: 18rem; justify-content: center">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">{{offer.car.brand}} {{offer.car.name}}</h5>
                <img src="{{offer.car.photo.url}}" alt="" width="100%" height="15%"/>
                <p class="card-text">{{offer.car.description}}</p>
                <a href="{% url 'details' offer.offerUUID %}" class="btn btn-primary">Details</a>
              </div>
            </div>
      {% endfor %}
    </div>

    <footer class="footer">
      <p>&copy; Company 2017</p>
    </footer>

  </div>